{% extends "layout/layout_404.html" %}

{% block content %}
    <h1>SHIT HAPPENS...: ERROR:500</h1>
    <p>En forespørsel til serveren førte til intern server crash.</p>
    <p>Dette skal normalt ikke skje, (og takker deg for å ha funnet en svakhet i systemet)</p>
    <p>Vi beklager bryderiet.</p>
    <p></p>
    <p>Feilen har blitt loggført for fremtidig utbedring,</p>
    <p>takk for din tålmodighet <small>- uansett om den er der eller ikke.</small></p>
    <p><bold></bold></p>
{% endblock content %}