{% extends "layout/layout1w3.html" %}

{% block content %}
  <h1> Dagbok Funksjon</h1>
  {% if bruker %}
    <p> Velkommen {{ bruker.brukernavn }},</p>
    <p> Din personlige notatblokk:</p>
  {% else %}
    <p> Du må være logget inn for å benytte denne funksjonen!</p>
  {% endif %}
  <p></p> <hr/>
  <table>
    <form action="." method="POST">
        <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
        
        <input type="text" id="forfatter" name="forfatter" placeholder="kall meg:">
        <input type="submit" class="btn btn-success" value="Post comment">
    </form>
    </table>
   <button type="submit">Login</button>
   
   

{% endblock %}

<hr/>

{% block extra %}
{% endblock %}