{% extends "layout/layout1w3.html" %}
{% from "macro/view_post.html" import vis_poster %}


{% block content %}
  <h1 style="font-family: fantasy;">DEBATT INNLEGG</h1>
  <h2>{{ poster.tittel }}</h2>
  <p>Postet: {{ poster.dato.strftime("kl.%H:%M:%S den %e.%b.%y ") }}</p>
  <small> av {{ poster.poster_fra.fornavn }} {{ poster.poster_fra.etternavn }}  <br></small>
  <strong>{{ poster.slug | replace("\n", "<br>") | safe }}</strong>
  <p>{{ poster.innhold  | replace("\n", "<br>") | safe }}</p>
  <br>
  
{% endblock %}

{% block extra %}

{% endblock %}